[build]
publish = "site"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "/dashboard/*"
to = "/dashboard/index.html"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
